#btop{
    background-color: black;
    margin-top: -8px;
    margin-left: -8px;
    height: 85px;
}
#t{
    color: white;
    position: absolute;
    margin-top: 25px;
    margin-left: 37px;
    font-size: xx-large;
}
#icon{
    position: absolute;
    margin-top: 18px;
    margin-left: 18px;
}
#lalbum{
    position: absolute;
    margin-top: 38px;
    margin-left: 1063px;
    color: aliceblue;
    box-shadow: 5px 5px 20px 5px rgb(18, 18, 18);
}
#lcadastro{
    position: absolute;
    margin-left: 1058px;
    margin-top: 38px;
    color: aliceblue;
    box-shadow: 5px 5px 20px 5px rgb(18, 18, 18);
}
#lsuporte{
    position: absolute;
    margin-left: 968px;
    margin-top: 38px;
    color: aliceblue;
    box-shadow: 5px 5px 20px 5px rgb(18, 18, 18);
}
#lpremium{
    position: absolute;
    margin-left: 871px;
    margin-top: 38px;
    color: aliceblue;
    box-shadow: 5px 5px 20px 5px rgb(18, 18, 18);
}
#lhome{
    position: absolute;
    margin-left: 1175px;
    margin-top: 38px;
    color: aliceblue;
    box-shadow: 5px 5px 20px 5px rgb(18, 18, 18);
}
#bpart{
    background-color: rgb(255, 255, 255);
    margin-left: -8px;
    height: 745px;
}
#txt1{
    margin-top: 0px;
    margin-left: 110px;
}
#position{
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-left: 160px;
    padding: 14px;
}
#bbot{
    background-color: black;
    margin-left: -8px;
    height: 305px;
    margin-bottom: -8px;
}
